body {

  margin: 40px;
}

img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.wrapper {
  color: #444;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;
}

.box {

  border-radius: 5px;
  color: #fff;
  font-size: 150%;
  padding: 20px;
}

.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  border: none;
}

.title {
  align-content: center;
  color: white;
  text-align: center;
  flex-flow: row wrap;
}


.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;

}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navigation a:hover {
  color: yellow;
  justify-content: center;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  display: inline;
  background: white;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: silver;
  font-size: 2em;
  text-align: center;
  box-shadow: 1px 1px #888888;
}

.flex-item:hover {
  color: gold;
  border-top: 1px solid red
}
