body {
  margin: 40px;
}

img {
  min-height: 100%;
  max-height: inherit;
  height: auto;
  image-rendering: auto;
  min-width:  5304px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

.wrapper {
  color: #444;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px;
}

.box {

  border-radius: 5px;
  color: #fff;
  font-size: 150%;
  padding: 20px;
}

.button_section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  border: none;
}

.button {
  background: #696579;
  color: #fdecca;
}

.title {
  font-family: 'Playfair Display', Serif;
  font-size: 150%;
  align-content: center;
  color: white;
  text-align: center;
  flex-flow: row wrap;
}

.lorem {
  align-content: center;
  font-family: 'Source Sans Pro', Sans-Serif;
  color: white;
  text-align: center;
  font-size: 120%;
  padding: 10px;
}

.logo {
  color: white;
  font-family: 'Source Sans Pro', Sans-Serif;
  display: block;
  justify-content: flex-start;
  padding: 20px;
}

.design {
  Font-Family: 'Playfair Display', Serif;
  color: #fdecca
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  font-family: 'Source Sans Pro', Sans-Serif;
  justify-content: flex-end;
  list-style: none;
  margin: 0;

}

.navigation a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 1em;
}

.button {
  Font-Family: 'Playfair Display', Serif;
  border: none;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navigation a:hover {
  color: yellow;
  justify-content: center;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  display: inline block;
  background: white;
  opacity: 0.75;
  position: relative;
  align-content: flex-start;
  width: 300px;
  height: 225px;
  margin-top: 10px;
  color: silver;
  font-size: 15px;
  text-align: center;
  box-shadow: 1px 1px #888888;
  padding: 15px;

}

.flex-item:hover {
  color: gold;
  border-top: 3px solid #d9406e;
  background: white;
  opacity: 1;
  cursor: pointer;
}

.case {
  margin-top: 65px;
 display: none;
}

.flex-item:hover .subtext {
  color: black;
}

.flex-item:hover .case {
  display: block;
  background-color: #696579;
  color: #fdecca;
  padding: 15px;
  text-decoration: none;
}
